@import "tailwindcss";

:root {
  --verde: #008C3A;
  --amarelo: #F5C400;
  --bg: #050505;
  --card: #111111;
  --border: #222222;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: #fff;
  font-family: var(--font-geist), Arial, sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #111;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3px;
}

input::placeholder,
textarea::placeholder {
  color: #777;
}

select option[value=""] {
  color: #aaa;
}
